<table>
  <thead>
    <tr class="table100-head">
      <th class="column">Submitter</th>
      <th class="column">Category</th>
      <th class="column">Text description</th>
      <th class="column">Status</th>
      <th class="column">Solver</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="issue in $ctrl.issues">
      <td class="column">{{ issue.submitter.username }}</td>
      <td class="column">{{ issue.category.name }}</td>
      <td class="column">{{ issue.text_description }}</td>
      <td class="column">{{ issue.status }}</td>
      <td class="column"{{ issue.solver.username }}</td>
    </tr>
  </tbody>
</table>
