<table>
  <thead>
    <tr class="table100-head">
      <th class="column1">Submitter</th>
      <th class="column5">Category</th>
      <th class="column3">Text description</th>
      <th class="column4">Status</th>
      <th class="column2">Solver</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="column1">2017-09-29 01:22</td>
      <td class="column2">200398</td>
      <td class="column3">iPhone X 64Gb Grey</td>
      <td class="column4">$999.00</td>
      <td class="column5">1</td>
    </tr>
    <tr>
      <td class="column1">2017-09-28 05:57</td>
      <td class="column2">200397</td>
      <td class="column3">Samsung S8 Black</td>
      <td class="column4">$756.00</td>
      <td class="column5">1</td>
    </tr>
  </tbody>
</table>
